html {
  background-color: #fafafa;
}

body {
  background-color: #fafafa;
}

.tag {
  text-transform: capitalize;
  border: 0.5px solid #ddd;
}

.dfc-logo-container {
  padding-left: 6px;
  padding-right: 6px;
  margin-left: 6px;
  margin-right: -6px;
}

.dfc-logo-container img {
  background-color: #1877c8;
  padding: 3px;
  transform: scale(1.3);
  border-radius: 50%;
  transition: all 0.2s;
}

.dfc-logo-container img:hover {
  background-color: #186bb3;
  box-shadow: 1px 1.5px 1.5px rgba(0, 0, 0, 0.1);
}

.dfc-logo-container:hover {
  background-color: inherit !important;
}

.dfc-category-label {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8rem !important;
  font-weight: 500;
}

.dfc-last-updated {
  font-size: 0.75rem;
  color: rgba(0, 0, 0, 0.5);
}

.dfc-card-description {
  margin-bottom: 1.5rem !important;
}

.dfc-hero-logo img {
  background-color: #186bb3;
  box-shadow: 0.1rem 0.4rem 2.5rem rgba(0, 0, 0, 0.1);
  padding: 0.8rem;
  margin: 1.6rem auto 0.8rem;
  width: 40%;
  max-width: 10rem;
  border-radius: 50%;
}

.dfc-hero-input {
  box-shadow: 0rem 0.2rem 1.8rem rgba(0, 0, 0, 0.12);
}

.dfc-footer-logo {
  margin: 0 auto 0.8rem;
  width: 30%;
  max-width: 5rem;
}

.dfc-page {
  margin-bottom: 1.5rem;
}

.is-hidden {
  display: hidden;
}
