<footer class="footer has-background-grey-lighter">
  <div class="container">
    <div class="content has-text-centered has-text-grey">
      <img class="dfc-footer-logo" src="/assets/svg/logo_grey.svg">
      <p>Copyright © 2018 Doctors for Change
        <br>
        <a href="https://doctorsforchange.org" class="has-text-grey">www.DoctorsForChange.org</a>
      </p>
    </div>
  </div>
</footer>