<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>DFC Guide | Access to Care and Community Resources in Houston</title>

<link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans" rel="stylesheet">
<link rel="stylesheet" href="/css/main.css">

<script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>