<nav class="navbar is-info is-shadowless" role="navigation" aria-label="main navigation">
    <div class="container is-flex">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">DFC Guide</a>
        </div>
        <div class="navbar-menu">
            <div class="navbar-start">
            </div>
            <div class="navbar-end">
                <form class="navbar-item" action="/items" method="GET">
                    <div class="field is-grouped">
                        <div class="control">
                            <input type="text" class="input is-rounded" placeholder="Search the Guide..." name="search">
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
</nav>