
<nav class="navbar <%= currentUser ? 'is-dark' : 'is-info'%> is-fixed-top is-shadowless" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item dfc-logo-container" href="/home">
                <img src="/assets/svg/logo_white.svg" alt="DFC Guide">
            </a>
            <form class="navbar-item" action="/items" method="GET">
                    <div class="control has-icons-left">
                        <input type="text" class="input is-rounded" placeholder="Search DFC Guide..." name="search">
                        <span class="icon is-left is-small">
                            <i class="fas fa-search"></i>
                        </span>
                    </div>
            </form>
            <a role="button" class="navbar-burger has-text-white" data-target="navMenu" aria-label="menu" aria-expanded="false">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div class="navbar-menu <%= currentUser ? 'has-background-dark' : 'has-background-info' %> " id="navMenu">
            <div class="navbar-start">
            </div>
            <div class="navbar-end">
                <a class="navbar-item has-text-white <%= currentUser ? 'has-background-dark' : 'has-background-info' %> " href="#">Feedback</a>
                <% if (currentUser) { %>
                    <a class="navbar-item has-text-white has-background-dark" href="/users/logout">Log Out</a>
                <% } %> 
            </div>
        </div>
    </div>
</nav>