body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.dfc-hero-logo img {
  background-color: #186bb3;
  box-shadow: 0.1rem 0.4rem 2.5rem rgba(0, 0, 0, 0.1);
  padding: 0.6rem;
  margin: 1.6rem auto 0.8rem;
  width: 30%;
  max-width: 8rem;
  border-radius: 50%;
}

.dfc-footer-logo {
  margin: 0 auto 0.8rem;
  width: 30%;
  max-width: 5rem;
  fill: #7a7a7a;
}

.dfc-category-label {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8rem !important;
  font-weight: 500;
}

.dfc-page-container {
  padding-top: 52px;
}
