<%- layout('layout') -%>

  <section class="section">
    <div class="container">
      <div class="columns">
      <div class="column is-4">
      <% include ../components/category_menu %>
    </div>
        <div class="column is-8 dfc-item-list">
          <% if (search.length > 0) { %>
            <p class="subtitle is-6">Here are your search results for "<%= search %>"</p>
            <% } %>
          <% items.forEach(item => { %>
            <% include ../components/item_card %>
          <% }) %>
        </div>

      </div>
    </div>
  </section>