<%- layout('layout') -%>

  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-3">
          <% include ../components/category_menu %>
        </div>
        <div class="column is-9">
          <% if (search.length > 0) { %>
            <p class="subtitle is-6">Here are your search results for "<%= search %>"</p>
          <% } %>
          <% items.forEach((page, index) => { %>
            <div class="dfc-page" data-page="<%= index %>">
              <% page.forEach(item => { %>
                <% include ../components/item_card %>
              <% }) %>
            </div>
          <% }) %>
          <% if (items.length > 10) { %>
            <div class="level">
              <div class="level-item" id="paginateContainer">
                <button class="button" id="paginateBtn">Load More Items</button>
              </div>
            </div>
          <% } %>
        </div>

      </div>
    </div>
  </section>

  <script type="text/javascript" src="/js/pagination.js"></script>