<aside class="menu">
  <p class="menu-label">Categories</p>
  <ul class="menu-list">
    <% categories.forEach(category => { %>
      <li><a href="?category=<%= category._id %>"><%= category.name %> (<%= category.items.length %>)</a></li>
    <% }) %> 
  </ul>
</aside>