<aside class="menu">
  <p class="menu-label">Categories</p>
  <ul class="menu-list">
    <% categories.forEach(entry => { %>
      <li><a href="/categories/<%= entry._id %>"><%= entry.name %> (<%= entry.items.length %>)</a></li>
    <% }) %> 
    <% if (currentUser) { %>
      <li><a href="/categories/new">+ New category</a></li>
    <% } %>
  </ul>
</aside>