<aside class="menu">
  <% topics.forEach(topic => { %>
    <p class="menu-label"><%= topic.title %></p>
    <ul class="menu-list">
      <% topic.guides.forEach(entry => { %>
        <li><a href="/guides/<%= entry.id %>"><%= entry.title %></a></li>
      <% }) %>
    </ul> 
  <% }) %>
  <% if (currentUser) { %> 
    <p class="menu-label"><a class="has-text-grey" href="/topics/new">+ Add new topic</a></p>
  <% } %>
</aside>