<%- layout('layout') -%>

  <section class="section">
    <div class="container">
      <div class="content">
        <h1>Page not found</h1>
        <p>The page that you are trying to access does not exist. Please
          <a href="mailto:info@doctorsforchange.org">contact us</a> to report this error or
          <a href="/">return to the home page</a>.</p>
      </div>
    </div>
  </section>