<% layout('layout') %>

<section class="hero is-link is-bold is-medium">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                DFC Guide
            </h1>
            <h2 class="subtitle">
                Access to Care and Community Resources
            </h2>
            <form>
                <div class="field">
                    <div class="control">
                        <input type="text" class="input is-medium is-rounded" placeholder="Search the Guide...">
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>