<% layout('layout') %>

    <section class="hero is-link is-bold is-medium">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="dfc-hero-logo">
                    <img src="/assets/svg/logo_white.svg">
                </div>
                <h1 class="title">
                    DFC Guide
                </h1>
                <h2 class="subtitle">
                    Find community resources in the Houston area to meet your patients' needs
                </h2>
                <div class="columns is-centered">
                    <div class="column is-half is-narrow">
                        <form action="/items" method="GET">
                            <div class="field">
                                <div class="control has-icons-left dfc-hero-input">
                                    <input type="text" class="input is-medium is-rounded" placeholder="Search the Guide..." name="search">
                                    <span class="icon is-left is-medium">
                                        <i class="fas fa-search"></i>
                                    </span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <p class="title is-4">Getting Started</p>
            <div class="columns">
                <div class="column is-4">
                    <a href="/guides">
                        <div class="box">
                            <p class="title is-5">Access our Guides</p>
                            <div class="content">
                                The quick brown fox jumped over the lazy dog.
                            </div>
                        </div>  
                    </a>
                </div>
                <div class="column is-4">
                    <a href="/guides/sndjansdjnad">
                        <div class="box">
                            <p class="title is-5">How to Use the DFC Guide</p>
                            <div class="content">
                                The quick brown fox jumped over the lazy dog.
                            </div>
                        </div>  
                    </a>
                </div>
                <div class="column is-4">
                    <a href="/items">
                        <div class="box">
                            <p class="title is-5">Browse our Resources</p>
                            <div class="content">
                                The quick brown fox jumped over the lazy dog.
                            </div>
                        </div>  
                    </a>
                </div>
            </div>
            <p class="title is-4">Most Viewed</p>
            <p class="subtitle has-text-grey is-6">View our most frequently accessed resources.</p>
            <div class="columns is-multiline">
                <% items.filter((item, index) => index < 6).forEach(item => { %>
                    <div class="column is-4">
                        <% include components/item_card %>
                    </div>
                <% }) %>
            </div>
    </section>