<!DOCTYPE html>
<html lang="en" class="has-background-link">

<head>
  <% include ./partials/head %>
</head>

<body class="has-background-link has-text-white">
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-6 is-offset-3">
          <div class="dfc-hero-logo has-text-centered">
            <img src="/assets/svg/logo_white.svg">
          </div>
          <div class="box has-background-white-ter">
            <p class="title is-4 has-text-centered">DFC Guide</p>
            <p class="subtitle is-6 has-text-centered">Access to Care and Community Resources</p>
            <div class="content">
              <p>Use this guide to help your patients find resources within our community to improve their access to health
                care (as well as other life neccessities such as food, housing, and legal services).</p>
            </div>
            <nav class="level">
              <div class="level-left">
                <div class="level-item">
                  <a class="button is-light" href="/home">Old Version</a>
                  <a class="button is-link" href="/home">Proceed</a>
                </div>
              </div>
              <div class="level-right">
                <div class="level-item">
                  <p class="has-text-right is-size-7">By entering, you agree to our
                    <a href="/terms">Terms of Service</a>.
                  </p>
                </div>
              </div>
            </nav>
          </div>
          <div class="content has-text-white has-text-centered">
            <p>Copyright © 2018 Doctors for Change
              <br>
              <a class="has-text-white" href="https://www.doctorsforchange.org">www.DoctorsForChange.org</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>

</html>