<%- layout('layout') -%>

  <section class="section">
    <div class="container">
      <div class="content">
        <h1>Terms of Use</h1>
        <p>
          This guide is for informational purposes only. The information in this guide should not be interpreted as medical advice. None of the listings contained herein should be considered as recommended on the part of <a href="https://www.doctorsforchange.org">Doctors for Change</a>. Directory information rapidly becomes outdated and a new directory is continually updated. If you find errors or have information on new resources, please feel free to contact us.
        </p>
      </div>
    </div>
  </section>