.tag {
  text-transform: capitalize;
}

.dfc-logo-container {
  margin-left: 6px;
  padding-right: 0;
}

.dfc-logo-container img {
  transform: scale(1.2);
}

.dfc-logo-container:hover {
  background-color: inherit !important;
}

.dfc-category-label {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8rem !important;
  font-weight: 500;
}

.dfc-last-updated {
  font-size: 0.75rem;
  color: rgba(0, 0, 0, 0.5);
}

.dfc-card-description {
  margin-bottom: 1.5rem !important;
}
