<%- layout('layout') -%>

<section class="section">
  <div class="container">
    <ul>
      <% categories.forEach(category => { %>
        <li>
          <form action="/categories/<%= category._id %>?_method=DELETE" method="POST">
            <button class="delete is-pulled-left"></button>
          </form>
          <%= category.name %> - <a href="/categories/<%= category._id %>/edit">edit</a>
        </li>
      <% }) %>
    </ul>
    <a class="button" href="/categories/new">New Category</a>
  </div>
</section>