<%- layout('layout') -%>

  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-3">
          <% include ../components/category_menu %>
        </div>
        <div class="column is-9">
          <% if (currentUser) { %>
            <div class="level">
              <div class="level-right">
                <p class="level-item">
                  <a class="button" href="/items/new">
                    <span class="icon">
                      <i class="fas fa-plus"></i>
                    </span>
                    <span>New Item<span>
                  </a>
                </p>
              </div>
            </div>
          <% } %>
          <% items.forEach((page, index) => { %>
            <div class="dfc-page" data-page="<%= index %>">
              <% page.forEach(item => { %>
                <% include ../components/item_card %>
              <% }) %>
            </div>
          <% }) %>
          <% if (items.length > 1) { %>
            <div class="level">
              <div class="level-item" id="paginateContainer">
                <button class="button" id="paginateBtn">Load More Items</button>
              </div>
            </div>
          <% } %>
        </div>
        </div>
      </div>
    </div>
  </section>

  <script type="text/javascript" src="/js/pagination.js"></script>