<%- layout('layout') -%>

  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-3">
          <% include ../components/category_menu %>
        </div>
        <div class="column is-9">
        <% category.items.forEach(item => { %>
          <% include ../components/item_card %>
        <% }) %>
        </div>
      </div>
    </div>
  </section>