<%- layout('layout') %>

  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-6 is-offset-3">
          <h1=2 class="subtitle">Register</h1>
            <form action="/users/register" method="POST">
              <input type="text" name="username" placeholder="Username">
              <input type="password" name="password" placeholder="Password">
              <button type="submit" class="button is-outlined is-dark">
                Submit
              </button>
            </form>
        </div>
      </div>
    </div>
  </section>