<%- layout('layout') -%>

  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-4">
          <% include ../components/topic_menu %>
        </div>
        <div class="column is-8">
          <% topics.forEach(topic => { %>
            <%= 'hello world' %>
          <% }) %>
        </div>
      </div>
    </div>
  </section>