<%- layout('layout') -%>

  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-3">
          <% include ../components/topic_menu %>
        </div>
        <div class="column is-9">
          <p class="subtitle is-5 has-text-grey has-text-centered">Choose an item from the menu to get started.</p>
        </div>
      </div>
    </div>
  </section>