<%- layout('layout') -%>

  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-4">
          <aside class="menu">
            <p class="menu-label">
              Introduction
            </p>
            <ul class="menu-list">
              <li>
                <a class="is-active">Poverty</a>
                <ul>
                  <li>
                    <a>Facts</a>
                  </li>
                  <li>
                    <a>Helpful Links</a>
                  </li>
                  <li>
                    <a>References</a>
                  </li>
                </ul>
              </li>
              <li>
                <a>Food Insecurity</a>
              </li>
              <li>
                <a>Health Care</a>
              </li>
              <li>
                <a>Obesity</a>
              </li>
              <li>
                <a>Adolescent Issues</a>
              </li>
              <li>
                <a>Mental Health</a>
              </li>
              <li>
                <a>Domestic Violence</a>
              </li>
              <li>
                <a>Human Trafficking</a>
              </li>
              <li>
                <a>Education</a>
              </li>
            </ul>
            <p class="menu-label">
              Identifying Patients in Need
            </p>
            <ul class="menu-list">
              <li>
                <a>Screening for Social Needs</a>
              </li>
              <li>
                <a>Evidence-Based Questions</a>
              </li>
            </ul>
          </aside>
        </div>
        <div class="column is-8">
          <div class="content">
            <h2><%= guide.title %></h2>
            <h3>Facts</h3>
            <ul>
              <li>Texas ranked 2nd highest in nation after California with 1,751,000 children living in poverty</li>
              <li>27% of Harris County children live in poverty and 26% of Texas children do</li>
              <li>Nearly half of the children in Texas live at 200% or below the federal poverty rate, while the national average
                is 44%</li>
              <li>86% of low income children and 53% of poor children have parents who never graduated from high school</li>
              <li>In 2011-2012 school year, school districts in Greater Houston area identified 12,512 homeless youth, or 1.3%
                of public school population</li>
              <li>43.6% of infants and children under 4 years of age received WIC assistance</li>
              <li>The 2013 Federal Poverty Level (FPL) for a family of 4 equals $23,550. On average, it is estimated that it
                takes twice that amount to provide the most basic needs</li>
              <li>In 2011-2012, the Kaiser Family Foundation reported 23% of Texas adults in poverty</li>
              <li>In 2012, 46.5 million people (15%) in the U.S. were in poverty</li>
            </ul>
            <h3>Helpful Links</h3>
            <p>
              <a href="http://forabettertexas.org/economicopportunity.html">Center for Public Policy Priorities</a>
              <br /> http://forabettertexas.org/economicopportunity.html
            </p>
            <p>
              <a href="http://forabettertexas.org/kidscount.html">For a Better Texas</a>
              <br />http://forabettertexas.org/kidscount.html
            </p>
            <h3>References</h3>
            <ol>
              <li>Children at Risk. Growing Up in Houston 2012-2014, Assessing the Quality of Life of Our Children. Children
                at Risk, 2012.</li>
              <li>"Child Poverty." National Center for Children in Poverty. Columbia University Mailman School of Public Health,
                n.d. Web. 12 Sept 2014.</li>
              <li>"Poverty Rate by Race/Ethnicity." The Kaiser Family Foundation. The Henry J. Kaiser Foundation, n.d. Web. 12
                Sept. 2014.</li>
              <li>"Poverty: Highlights". United States Department of Census Bureau. U.S. Department of Commerce, n.d. Web. 12
                Sept 2014.</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </section>