<%- layout('layout') -%>

  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-4">
          <% include ../components/topic_menu %>
        </div>
        <div class="column is-8">
          <div class="content">
            <h2><%= guide.title %></h2>
            <%- guide.content -%>
          </div>
        </div>
      </div>
    </div>
  </section>