<%- layout('layout') -%>

  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-3">
          <% include ../components/topic_menu %>
        </div>
        <div class="column is-9">
          <div class="box">
            <div class="content">
              <% if (currentUser) { %>
                <a class="button is-pulled-right is-small is-outlined is-grey" href="/guides/<%= guide._id %>/edit">
                  <span class="icon is-small">
                    <i class="fas fa-pencil-alt"></i>
                  </span>
                </a>
              <% } %>
              <h2><%= guide.title %></h2>
              <hr>
              <%- guide.content -%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script src="/js/guide_contents.js"></script>